const Image = struct {width: i32, height: i32, flags: u32 };

{{#sprites}}
// {{name}}
pub const {{name}} = Image {
    .width = {{width}},
    .height = {{height}},
    .flags = {{flags}}, // {{flagsHumanReadable}}
};
pub const {{name}}_bits = [{{length}}]u8{ {{bytes}} };
{{/sprites}}
